<link rel="stylesheet" href="/css/partials/tables/table.css">

<div class="table-container">
  
   <!-- Table Header  -->
   <%-include('./tableHeader.ejs',{partialData:tableData,format})%>

   <!-- Table Content  -->
   <%-include('./tableContent.ejs',{partialData:tableData,type})%>

   <!-- Table Footer  -->
   <%-include('./tableFooter.ejs')%>

</div>

