<div class="table-header">
    <div class="table-headerLeft">     
        <span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 600; font-size: 12px;color: rgb(80, 80, 80); margin-left: 10px;">Updated at: 22/3/24</span>
    </div>

    <div class="table-headerRight">
      <div class="formatbox">
        <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: aliceblue;font-size: 12px;opacity: 0.85;margin:5px">Tests</p>
      </div>
</div>
</div>

<link rel="stylesheet" href="/css/partials/tables/tableHeader.css">