<div class="table-footer">
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: #1A142C;font-size: 13px;font-weight: 700;">VIEW FULL RANKINGS </p>
    <img class="leftarrow" src="../images/leftarrow.svg">
</div>

<link rel="stylesheet" href="/css/partials/tables/tableFooter.css">