<link rel="stylesheet" href="/css/partials/statsPartials/statsBar.css">

<% 
let backgroundColor; 
if (statsBarData.points >= 75) { 
    backgroundColor = 'green'; 
} else if (statsBarData.points > 35 && statsBarData.points < 75) { 
    backgroundColor = 'orange'; 
} else { 
    backgroundColor = 'red'; 
} 
%>

<div class="stats-row">
    <div class="stats-label"><%- label %></div>
    <div class="stats-bar"><div class="stats-bar-fill" style="background-color: <%= backgroundColor %>; width: <%- statsBarData.points %>%;"></div></div>
    <div class="stats"><%- statsBarData.points %>%</div>
    <div class="row-arrow"><img src="/images/leftarrow.svg" style="height: 100%;opacity: 0.7;"></div> 
</div>