<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CricRankers</title>
   <link rel="stylesheet" href="/css/pages/faq.css">
    
</head>

 
<body id="body">

     <!--Header-->
     <%- include('../partials/header.ejs') %>
    
     <!-- Drawer -->
     <%- include('../partials/drawer.ejs') %>


     <div id="bodyContainer" class="body-container">

     </div>
   
     <!-- Footer -->
     <%- include('../partials/footer.ejs') %>

</body>
</html>