<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
   <link rel="manifest" href="/manifest.json">
    <title>CricRankers</title>
    <link rel="stylesheet" href="/css/pages/rankings.css">
    <link rel="shortcut icon" href="/images/logoBallWhite.webp" type="image/x-icon">
    
</head>

 
<body id="body">

    <!--Header-->
    <%- include('../partials/header.ejs') %>
     
    <!-- Drawer -->
    <%- include('../partials/drawer.ejs') %>

   <div id="bodyContainer" class="body-container">


    <div id="rankings-container" style="min-height: 720px; text-align: center;">

     <%- profilePageData.msg %>
    
    </div>
  
   </div>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>

    <!-- CompareBox -->
     

</body>
</html>