<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CricRankers</title>
</head>

    <style>
     #body{
        width: 100%;
        height: 1600px;
        margin: 0;
        background-color:#fafafa;
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    </style>

<body id="body">

    <!--Header-->
    <%- include('../partials/header.ejs') %>
    
</body>
</html>