<div class="table-container">
  
   <!-- Table Header icc -->
   <%-include('./iccTableHeader.ejs')%>

   <!-- Table Content icc -->
   <%-include('./iccTableContent.ejs')%>

   <!-- Table Footer icc -->
   <%-include('./iccTableFooter.ejs')%>

</div>

<style>
.table-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: fit-content;
}
</style>