<div class="table-content">
  <div class="rank1-container">
    <div class="rank1-left">
      <div class="rank1-data-container">
        <div class="rank1-player-name" style="font-weight: 800">
          Virat Kohli
        </div>
        <div class="rating-rank1 rank1-player-name">
          957
          <img
            src="/images/india.png"
            alt="rank1 flag"
            class="rank1-flag-img"
          />
        </div>
        <div class="comparecontainer">
          <span
            class="comparename"
            style="font-size: 10px; font-weight: 500; color: whitesmoke"
            >COMPARE</span
          >
          <img class="compareicon" src="/images/compareicon.svg" />
        </div>
      </div>
    </div>
    <div class="rank1-right">
      <div class="rank1-image-container">
        <div class="photo-container">
          <div class="photo-div">
            <img
              src="/images/VIRATPROFILE.jpg"
              alt="rank1 picture"
              class="rank1-picture"
            />
          </div>
          <div class="label-div">
            <img
              src="/images/goatwhite.png"
              alt="goat logo"
              class="label-img"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="rank2-container" class="rank-container even">
    <div class="rank-num">02</div>
    <div class="profile-pic">
      <img
        src="/images/VIRATPROFILE.jpg"
        alt="player image"
        class="profile-img"
      />
    </div>
    <div class="player-info">
      <div class="playername">ROHIT SHARMA</div>
      <div style="display: block; margin-left: 5px">
        <img src="/images/india.png" alt="country-flag" class="country-flag" />
      </div>
    </div>
    <div class="ratings">864</div>
  </div>

  <div id="rank3-container" class="rank-container odd">
    <div class="rank-num">03</div>
    <div class="profile-pic">
      <img src="/images/VIRATPROFILE.jpg" alt="" class="profile-img" />
    </div>
    <div class="player-info">
      <div class="playername">KUMAR SANGAKARA</div>
      <div style="display: block; margin-left: 5px">
        <img src="/images/india.png" alt="country-flag" class="country-flag" />
      </div>
    </div>
    <div class="ratings">764</div>
  </div>

  <div id="rank4-container" class="rank-container even">
    <div class="rank-num">04</div>
    <div class="profile-pic">
      <img src="/images/VIRATPROFILE.jpg" alt="" class="profile-img" />
    </div>
    <div class="player-info">
      <div class="playername">MAHELA JAYVARDHANE</div>
      <div style="display: block; margin-left: 5px">
        <img src="/images/india.png" alt="country-flag" class="country-flag" />
      </div>
    </div>
    <div class="ratings">714</div>
  </div>

  <div id="rank5-container" class="rank-container odd">
    <div class="rank-num">05</div>
    <div class="profile-pic">
      <img src="/images/VIRATPROFILE.jpg" alt="" class="profile-img" />
    </div>
    <div class="player-info">
      <div class="playername">RAHUL DRAVID</div>
      <div style="display: block; margin-left: 5px">
        <img src="/images/india.png" alt="country-flag" class="country-flag" />
      </div>
    </div>
    <div class="ratings">774</div>
  </div>
</div>

<style>
  .even {
    background-color: white;
  }
  .odd {
    background-color: transparent;
  }
  .profile-img {
    height: 60%;
    border-radius: 99px;
    width: fit-content;
  }
  .country-flag {
    height: 18px;
  }

  .rank-container {
    height: 100px;
    width: 97%;
    display: flex;
    align-items: center;
  }
  .rank-num {
    width: 10%;
    font-family: sans-serif;
    font-size: 14px;
    color: #1a142c;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0.9;
    font-weight: 800;
    text-align: center;
  }

  .profile-pic {
    width: 20%;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  .player-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    justify-content: center;
    padding-left: 10px;
  }

  .playername {
    width: fit-content;
    height: fit-content;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 650;
    font-size: 16px;
    color: #1a142c;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .ratings {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    opacity: 0.9;
    font-weight: bold;
    color: #1a142c;
  }

  .comparecontainer {
    width: 87px;
    height: 22px;
    display: flex;
    align-self: baseline;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-self: flex-end;
    justify-content: center;
    background-color: rgb(175, 1, 175);
    border-radius: 5px;
    margin-top: 10%;
    cursor: pointer;
  }
  .compareicon {
    width: 30%;
    height: 90%;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 2px;
  }
  .rating-rank1 {
    height: 34px;
    display: inline;
    align-items: center;
  }
  .rank1-flag-img {
    height: 50%;
    margin-left: 5%;
  }
  .label-img {
    height: 55%;
    opacity: 0.9;
  }
  .rank1-picture {
    height: 100%;
  }
  .photo-div {
    height: 75%;
    width: fit-content;
    background-color: #10122a;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .label-div {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a2432;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .photo-container {
    height: 75%;
    width: fit-content;
    background-color: black;
    overflow: hidden;
    border-radius: 8px;
    position: absolute;
    top: 55;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rank1-player-name {
    font-size: 100%;
    width: 100%;
    display: inline-block;
    color: #d2ced0;
    font-family: sans-serif;
    font-weight: 500;
  }

  .rank1-data-container {
    height: fit-content;
    width: 95%;
    display: flex;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: flex-start; */
  }
  .rank1-image-container {
    height: 97%;
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rank1-left {
    height: 75%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: center; */
  }

  .rank1-right {
    height: 100%;
    width: 40%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .rank1-right::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-image: url("/images/logoBallWhite.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.15;
    z-index: -1;
  }

  .table-content {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .rank1-container {
    height: 200px;
    width: 97%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-top: 7px;
    overflow: hidden;
    background-color: #10122a;
    position: relative;
  }
  @media (max-width: 720px) {
    .rank1-container {
      height: 150px;
    }
    .rank1-right::before {
      height: 125%;
      width: 125%;
    }
    .medal-icon {
      height: 35px;
    }
    .rank1-data-container {
      height: 90%;
    }
    .rank1-player-name {
      font-size: 80%;
    }
    .comparecontainer {
      margin-top: 0;
    }
    .rank-container {
      height: 70px;
      width: 97%;
    }
    .country-flag {
      height: 15px;
    }
    .playername {
      width: fit-content;
      height: fit-content;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 650;
      font-size: 13px;
      color: #1a142c;
      margin-left: 5px;
      margin-bottom: 5px;
    }
    .ratings {
      font-size: 14px;
    }
    .rank-num {
      font-size: 12px;
    }
    .profile-img {
      height: 70%;
    }
    .even {
      background-color: white;
    }
    .odd {
      background-color: transparent;
    }
  }
</style>
