<div class="table-header-icc">
    <div class="table-headerLeft-icc">     
        <span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 600; font-size: 12px;color: rgb(80, 80, 80); margin-left: 10px;">Updated at: 22/3/24</span>
    </div>

    <div class="table-headerRight-icc">
      <div class="formatbox">
        <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: aliceblue;font-size: 12px;opacity: 0.85;margin:5px">Tests</p>
      </div>
</div>
</div>

<style>
    .table-header-icc{
      display: flex;
      width: 97%;
      align-items: center;
      justify-content: center;
    }
    .table-headerRight-icc{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width:40%;
    }
    .table-headerLeft-icc{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width:60%;
    }
    .formatbox{
        width: fit-content;
        margin-right: 10px;
        background-color: #140166;
        height: 10px;
        border-radius: 4px;
        display: flex;
        margin-top: 0px;
        align-items: center;
        padding: 5px;
    }
</style>