<div id="drawer">
    <div class="goat-logo-drawer">
        <div class="logo-drawer-right">
            <div id="closeMenuBackground">
                <img src="../images/backarrow.svg" id="backArrowIcon">
               </div>
        </div>
        <div class="logo-drawer-left">
            <img src="../images/goatwhite.webp" style=" opacity: 0.9; margin-left: 0;height:37px; " alt="CricRankers Logo">
        </div>
       
    </div>
    <div style="height: 1px; width: 100%;opacity: 0.1; margin-bottom: 20px;background-color: aliceblue;"></div>

<a href="/about" class="anchor-drawer">About</a>
<a href="/contact" class="anchor-drawer">Contact Us</a>
<a href="/FAQs" class="anchor-drawer">FAQs</a>

<div style="height: 1px; width: 100%;opacity: 0.1; margin-top: 20px;background-color: aliceblue;"></div>

<div class="social-media-links-container-drawer">
    <a href="mailto:cricrankers@gmail.com" target="_blank"> <img src="../images/mail_icon.svg"  alt="mail/cricrankers" style="margin-left: 10px;margin-right: 5px; height: 27px; width: 27px;"></a>
    <a href="https:www.instagram.com/cricrankers" target="_blank">  <img src="../images/instagram_icon.svg" alt="instagram/cricrankers" style="margin-left: 5px;margin-right: 5px; height: 27px; width: 27px;"></a>
    <a href="https://www.twitter.com/cricrankers" target="_blank">  <img src="../images/twitter_icon.svg" alt="twitter/cricrankers" style="margin-left: 5px;margin-right: 10px; height: 25px; height: 27px; width: 27px;"></a>
</div>
  <div class="drawer-text">
    Connect @CricRankers
 </div>
</div>

<!-- Overlay to detect outside clicks -->
<div id="overlay"></div>


<link rel="stylesheet" href="/css/partials/drawer.css">

<script src="/js/partials/drawer.js"></script>