<link rel="stylesheet" href="/css/partials/footer.css">

<footer id="footer" class="footer">

  <div class="footer-container">

     <div class="social-media-links-container">
       <a href="mailto:cricrankers@gmail.com" target="_blank"> <img src="../images/mail_icon.svg"  alt="mail/cricrankers" style="margin-left: 10px;margin-right: 5px; height: 27px; width: 27px;"></a>
       <a href="https:www.instagram.com/cricrankers" target="_blank">  <img src="../images/instagram_icon.svg" alt="instagram/cricrankers" style="margin-left: 5px;margin-right: 5px; height: 27px; width: 27px;"></a>
       <a href="https://www.twitter.com/cricrankers" target="_blank">  <img src="../images/twitter_icon.svg" alt="twitter/cricrankers" style="margin-left: 5px;margin-right: 10px; height: 25px; height: 27px; width: 27px;"></a>
     </div>

     <div class="footer-text">
        All rights reserved : cricrankers.com
     </div>

  </div>

</footer>

