<header id="headerdiv">

    <div id="headerboxleft">
        <div id="goatcontainer">
           <a href="/rankings"> <img id="goat" src="../images/goatblacklogo.webp"></a>
        </div>

        <div id="cricrankerscontainer">
            <a href="/rankings" class="cricrankers"> <img id="cricrankers" src="../images/cricrankerslogo.webp"></a>
        </div>
    </div>

    <div id="headerboxright">
            <div class="pages-container">
                <a href="/rankings" class="anchor-drawer-pc">Rankings</a>
                <a href="/about" class="anchor-drawer-pc">About</a>
                <a href="/contact" class="anchor-drawer-pc">Contact Us</a>
                <a href="/FAQs" class="anchor-drawer-pc">FAQs</a>     
            </div>
          
        <div id="menubackground">
            <img src="../images/menu.svg" id="menuicon">
        </div>
    </div>

</header>

<link rel="stylesheet" href="/css/partials/header.css">
