<header id="headerdiv">

    <div id="headerboxleft">
        <div id="goatcontainer">
           <a href="/rankings"> <img id="goat" src="../images/goatblacklogo.png"></a>
        </div>

        <div id="cricrankerscontainer">
            <a href="/rankings" class="cricrankers"> <img id="cricrankers" src="../images/cricrankerslogo.png"></a>
        </div>
    </div>

    <div id="headerboxright">
            <div class="pages-container">
                <a href="/rankings" class="anchor-drawer-pc">Rankings</a>
                <a href="/about" class="anchor-drawer-pc">About</a>
                <a href="/contact" class="anchor-drawer-pc">Contact Us</a>
                <a href="/FAQs" class="anchor-drawer-pc">FAQs</a>     
            </div>
          
        <div id="menubackground">
            <img src="../images/menu.svg" id="menuicon">
        </div>
    </div>

</header>

<style>
.pages-container{
    display: none;
}

@media (min-width:920px) {
.pages-container{
    width: 400px;
    height: 90%;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.anchor-drawer-pc {
    width: 90%;
    height: 50px;
    text-align: center;
    justify-items: center;
    line-height: 50px;
    -webkit-tap-highlight-color: rgba(75, 73, 73, 0.4); 
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#edeef0 ;
    display: block;
    transition: 0.3s;
    user-select: none;
}
#headerdiv{
    height: 75px;
}
.anchor-drawer-pc:hover{
background-color: rgba(75, 73, 73, 0.4);
color:rgb(179, 219, 253)
}

}

#headerdiv {
    width: 100%;
    height: 55px;
    top: 0;
    margin: 0;
    display: flex;
    position: fixed;
    z-index: 2;
    background-color: #0a0613;
    align-items: center;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  }

#headerboxleft {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

#headerboxright {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#goatcontainer {
    display: flex;
    height: 100%;
    width: 20px;
    justify-content: center;
    align-items: center;
    background-color: #c8c9df;
    margin: 0%;
}

#goat {
    margin-left: 0;
    height: 11px;
    width: fit-content;
    transform: rotate(-90deg);
}

#menubackground {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    background-color: rgba(54, 54, 64, 0.6);
    -webkit-tap-highlight-color: rgba(75, 73, 73, 0.4); 
    justify-self: flex-end;
    margin-right: 15px;
    align-items: center;
    user-select: none;
    cursor: pointer;
    justify-content: center;
}

#menuicon {
    width: 63%;
    height: 63%;
    opacity: 0.9;
}

#cricrankerscontainer{
    width: 100px;
    height: 100%;
    display: flex;
    margin-left: 10px;
    align-items: center;

}

#cricrankers{
    height: 33px;
    opacity: 0.9;
}

</style>

<script src="/js/partials/header.js"></script>