<link rel="stylesheet" href="/css/partials/profileBanner.css">

<div class="profile-banner-container" data-playerName="Virat Kohli">
    <div class="profile-banner-left">
        <div class="profile-data-container">
            <div class="profile-player-name ">Virat Kohli</div>
            <div class="profile-player-career">Career : 2008-2024*</div>
            <div class="profile-player-country">Country : India</div>
            <div class="profile-player-rating">913</div>
            <div class="profile-button-container">
                <div class="compare-container openCompareBox" data-playerName="Virat Kohli">
                     <span class="compare-text">COMPARE</span>
                     <img class="compare-icon" src="/images/compareicon.svg">
                </div>
                <div class="share-background" onclick="shareProfile()">
                    <img src="/images/backarrow.svg" class="share-icon">
                </div>
            </div>
        </div>
    </div>

    <div class="profile-banner-right">
        <div class="banner-image-container">
            <div class="photo-container">
                <div class="photo-div">
                  <img
                    src="https://res.cloudinary.com/dm1sexxul/image/upload/v1729265839/playerPlaceholder_kfhway.webp"
                    alt="rank1 picture"
                    class="profile-picture"
                    loading="lazy"
                  />
                </div>
                <div class="label-div">
                  <img
                    src="https://res.cloudinary.com/dm1sexxul/image/upload/v1729265944/india_jbr3ur.svg"
                    alt="goat logo"
                    class="label-img"
                    loading="lazy"
                  />
                </div>
            </div>
        </div>
    </div>
</div>
