<link rel="stylesheet" href="/css/partials/searchBar.css">

<div class="search-box">
    <div class="search-container">
        <input type="text" autocomplete="off" id="searchInput" class="search-input" placeholder="Search Player Profiles..."> <button class="search-button"><img id="searchButton" src="../images/search.svg" alt="search-icon" style="height: 20px;"></button>
    </div>
</div>


<div id="searchSuggestion" class="search-suggestion"> 
</div>



<script src="/js/partials/searchBar.js?v=1.2" defer></script>