<div id="searchbarheader">
    <div id="searchbarbackgroundmobile">
        <img src="search.svg" id="searchicon">
        <input type="search" id="searchbarmobile" placeholder="Search Players Profile">
    </div>
</div>

<style>  #searchbarcontainer{
    width: 0%;
    height: 0%;
    opacity: 0.8;
    display:none;
    align-items: center;
}

#searchbar{
    width:0% ;
    margin-left:0% ;
    margin-right: 0%;
    border: none;
    outline: none;
    background: transparent;
    font-family: sans-serif;
    font-style:oblique;
    display: none;
    font-size: 15px;   
    color:#c8c9df;
    
    
}
#searchbackgroundmobile{
    width: 38px;
    height: 38px;
    border-radius: 40px;
    display: flex;
    background-color: rgba(219, 219, 222, 0.6);
    justify-self: flex-end;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
}

#searchiconmobile{
    width: 40%;
    height: 40%;
    opacity: 0.8;
}
</style>