<div id="tablenav" >
    <div id="tableNavParent3" class="tablenav">
        <div id="i1"  class="nav-element-i selected-tab-i">TEST</div>
        <div id="i2"  class="nav-element-i">ODI</div>
        <div id="i3"  class="nav-element-i">T20</div>
    </div> 
</div>

<link rel="stylesheet" href="/css/partials/tableNavIcc.css">k

<script type="module" src="/js/partials/tableNav.js"></script>