<link rel="stylesheet" href="/css/partials/tableNavCricrankers.css">


<div id="tablenav" >
    <div id="tableNavParent6" class="tablenav">
        <div id="c1"  class="nav-element-c selected-tab-c">GOAT</div>
        <div id="c2"  class="nav-element-c">TEST</div>
        <div id="c3"  class="nav-element-c">ODI</div>
        <div id="c4"  class="nav-element-c">T20i</div> 
        <div id="c5"  class="nav-element-c">ODI WC</div>
        <div id="c6"  class="nav-element-c">T20 WC</div> 
    </div> 
</div>


