<div id="tablenav" >
    <div id="tableNavParent3" class="tablenav">
        <div id="i1"  class="nav-element-i selected-tab-i">TEST</div>
        <div id="i2"  class="nav-element-i">ODI</div>
        <div id="i3"  class="nav-element-i">T20</div>
    </div> 
</div>

<style>

    #tablenav{
        height: 35px;
        width: 100%;
        background-color: #f2f2f2;
        margin-top: 1px;
        border-radius: 28px;
        border: 1px solid #e5e5e5 ;
        display: flex;
        align-items: center;
        padding-left: 1px;
        padding-right: 1px;
        justify-content: space-around;
    }
    .tablenav{
        height: 100%;
        width: 99%;
        background-color: #f2f2f2;
        border-radius: 28px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .nav-element-i{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        height: 85%;
        width: 33%;
        border-radius:28px;
        user-select: none;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #8a8989;
        transition: background-color 0.2s ease-in-out;

    }
    .selected-tab-i{
      width: 33.3%;
      height: 85%;
      border-radius:28px;
      font-size: 12px;
      background-color:#1a1a1a;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      color: #f2f2f2;
    }
</style>

<script type="module" src="/js/partials/tableNav.js"></script>