<div class="carousel-container-i">
    <div class="carousel-i" id="carousel-i">
      <div id="it1" class="carousel-item-i"><%- include('../partials/tables-icc/iccTable.ejs') %></div>
      <div id="it2" class="carousel-item-i"><%- include('../partials/tables-icc/iccTable.ejs') %></div>
      <div id="it3" class="carousel-item-i"><%- include('../partials/tables-icc/iccTable.ejs') %></div>
     
    </div>
</div>

<style>


     .carousel-container-i {
      width: 100%;
      margin-top: 20px;
      border-radius: 12px;
      display: block;
      max-width: 1000px;
      overflow:hidden; 
      z-index: 0;
    }

    .carousel-i {
      display: flex;
      transition: transform 0.3s ease-in-out;
    }

    .carousel-item-i {
      min-width: 100%;
      height: fit-content;
      background-color:transparent;
      color: gray;
      border: 1px black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      user-select: none;
    }
</style>

<script type="module" src="/js/partials/tableSlider.js"></script>