<div class="text">
    <%- textHere %>
</div>

<style>

    .text{
        display: block;
        width: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size:13px;
        margin-top: 15px ;
        color:#383c41;
    }

</style>