
    .table-footer{
        width: 95%;
        height: 25px;
        display: flex;
        margin-top: 5px;
        align-items: center;
        justify-content: center;
    }
    .leftarrow{
        height: 45%;
        transform: rotate(180deg);
        margin-left: 5px;
    }
